header {
  font-family: Montserrat;
}
.background-image{
  background-image: url('/assets/img/header-background.jpg');
  background-repeat:no-repeat ;
  background-size: cover;
  background-attachment: local;
  width: 100%;
}

.mask{
  background-color: rgba($color: #000000, $alpha: 0.7);
  height: 500px;
  padding: 20px 0 0 0;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 15px 75px 10px 50px;
  background-color: rgba($color: #5a5a5a, $alpha: 0.0);

  a {
    text-decoration: none;
    color: #ddd;
    font-weight: bold;
  }
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu-toggle {
  display: none;
}


.logo-container {
justify-content: start;
align-items: center;
display: flex;
}

.logo {
height: 60px;
}

.logo-name{
  display: inline-block;
  margin: 0 0 0 10px;
  text-transform: uppercase;
  a {
    font-weight: 500;
    font-size: 20px;
  }
}

.nav-links{
  ul {
    list-style: none;
    display: flex;
  }
  li {
    margin-right: 25px;
    &:last-of-type {
      margin: 0;
    }
  }

  a:hover {
    color: #ff4500;
  }
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 110px 0 0 0;
  text-shadow: 0 0 25px black;
  text-align: center;
  h1 { 
    font-size: 60px;
    margin: 5px;
  }
  h2 {
    font-size: 23px;
  }
}

.call-to-action{
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #ddd;
  text-shadow: 0 0 5px black;
  border: 3px solid #ddd;
  border-radius: 7px;
  background-color: rgba($color: #ffffff, $alpha: 0.15);
  padding: 10px;
  margin: 30px 15px 15px 15px;
  transition: background-color 0.3s;
  &:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.30);
  }
}

.disabled {
  color: #888888;
  font-weight: bold;
}