.section-title{
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 40px;
  margin: 20px;
  &:first-of-type{
    margin-top: 80px;
  }
}

.card-container {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  margin: 40px;
  height: 100%;
  padding: 0 0 00px 0;
}

.hard-skill-card {
  @include card;
  min-width: 90px;
  max-width: 150px;
  margin: 70px 30px;
  h2 {
    color: $primary-color;
    transition: color 0.3s ease-in-out;
  }
  &:hover {
    transform: scale(1.2);
    h2 {
      color: $secondary-color
    }
  }
}

.soft-skill-card {
  @include card;
  min-width: 250px;
  max-width: 350px;
  margin: 50px 30px;
  &:hover {
    transform: scale(1.2);
    p {
      color: $secondary-color;
    }
  }
}

.card-info {
  text-align: center;
  h2 {
    padding: 10px;
  }
  p {
    color: $primary-color;
    transition: color 0.3s ease-in-out;
  }
}
