@media screen and (max-width: 800px) {
  body {
    background-color: rgb(76, 134, 233);
  }

  .footer{
    display: none;
  }

}


@media screen and (max-width: 450px) {
  body {
    background-color: rgb(88, 82, 15);
  }

  .life-counter{
    flex-direction: column;
    position: relative;
  }

  .navbar{
    font-size: 14px;
    height: 60px;

    .title{
      display: none;
    }
  }

  button {
    scale: 0.9;
  }

  #set-starting-life {
    width: 30px;
  }

  .footer{
    display: none;
  }


}